<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>這是我的第一個spring boot MVC</h1>
<h2 style="background-color: yellow;" th:text="${message}"></h2>
<h2 style="background-color: blue;" th:text="${message2}"></h2>
<h2 style="background-color: red;" th:text="'需要處理的是'+${message2}+'!!!'"></h2>
<h2 style="background-color: yellow;">需要處理的是 [[${message2}]] !!!</h2>
<p>html image</p>
<img src="/images/UCOM.png">
<p>thymeleaf image</p>
<img th:src="@{/images/UCOM.png}">
</body>
</html>